h1 {
  color: blue;
}
ul {
  li {
    background-color: red;
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
  }
  background-color: red;
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
}
